{% if page.blurb %}
    <hr>
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-left" src="/images/Close-up_headshot_square.jpg">
            <h2 class="featurette-heading">Introduction
               <!-- <span class="text-muted">Will Catch Your Eye</span> -->
            </h2>
            <p class="lead">I am currently a Ph.D. student in the Woodruff School for Mechanical Engineering at the  Georgia Institute of Technology and am a member of the David McDowell research group.  </p>
        </div>
    <hr>
{% endif %}
