{% if page.blurb %}
    <hr>
    <div>
        <img class="featurette-image img-circle img-responsive pull-left" src="/images/Close-up_headshot_square.jpg">
        <p>I am currently a Ph.D. student in the Woodruff School for Mechanical Engineering at the  Georgia Institute of Technology where I am a graduate research assistant in the McDowell group.  </p>
    </div>
    <hr>
{% endif %}

            <section class="author">
                    
                <figure class="user-image">
                    <div id="user-image" class="img" style="background-image: url(/content/images/2014/Jul/BeitelC2014.jpg)"></div>
                </figure>
                
                <div class="info-author">
                        
                    <h4>Christopher Beitel</h4>
                    <p>
                        My name is Chris and I&#x27;m a graduate student in Jonathan Eisen&#x27;s lab at UC Davis.
LinkedIN: http://goo.gl/io83Vn; Lab: http://goo.gl/a9nkQ; Some programming music: http://goo.gl/MG6RSm
                    </p>
                </div>
            
            </section>
