---
layout: default-halfslider
title: Blog
---

<ul class="posts">
	<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{page.title}}</h1>
    </div>
  </div>
  {% for post in site.posts %}
    <h1><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
    <!-- <span>{{ post.date | date_to_string }}</span> -->
    <p class="meta">{{ post.date | date: "%B %d, %Y" }}
    {% if post.author %} • {{ post.author }}{% endif %}
    {% if post.meta %} • {{ post.meta }}{% endif %}</p>
    <!-- {% if post.cover %} <img class="img-responsive" src={{ post.cover }} alt="" {% endif %}  -->
    <!-- <p>{% if post.content %}{{ post.content | strip_html | truncatewords:55}}{% endif %}</p> -->
    
    <!-- Insert this portion of text to maybe steal the carousel classes for picture overlay with text -->
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <!-- <img src="img/yourimage.png" alt="" class="img-responsive"> -->
        {% if post.cover %} <img class="img-responsive" src={{ post.cover }} alt="" {% endif %}
           <div class="carousel-caption">
           <!-- Insert your text here ! -->
           {% if post.content %}{{ post.content | strip_html | truncatewords:55}}{% endif %}
           </div>
        </div>
    </div>
  {% endfor %}
    
</ul>
