---
layout: default-halfslider-home
---

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Half Slider by Start Bootstrap</h1>
                {% for post in site.posts offset:0 limit:1 %}
                    <p>Written by {{ post.title }} on {{ post.date}} and the content: {{post.content}}</p>
                {% endfor %}
                 
                <!-- <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the <code>half-slider.css</code>file.</p> -->
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                <span style="float: left;">Copyright &copy; Matthew Priddy</span>
                <span style="float: right;">Credits: Landing Page is a free to use, open source Bootstrap theme created by  <a target="_blank" href="http://startbootstrap.com">Start Bootstrap</a>.</span>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
